<div class="main-content" >
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="header">
                <h4 class="title">Chat</h4>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="card">
                      <div class="body">
                        <div id="plist" class="people-list">
                          <div class="form-line m-b-15">
                            <input type="text" placeholder="Search..." class="form-control">
                          </div>
                          <div class="tab-content">
                            <!-- <ng-scrollbar visibility="hover" style="height: 590px;" class="ng-scrollbar"> -->
                              <div class="ng-scrollbar-wrapper" position="native" track="vertical" appearance="compact" visibility="hover" deactivated="false" dir="ltr" pointereventsmethod="viewport" verticalused="true" horizontalused="false" isverticallyscrollable="true" ishorizontallyscrollable="false" verticalhovered="false" scrollbarclicked="false">
                                <div class="ng-scroll-viewport-wrapper">
                                  <div scrollviewport="" hidenativescrollbar="" class=" ng-native-scrollbar-hider ng-scroll-viewport " style="--native-scrollbar-size: -0px;">
                                    <div class="ng-scroll-content">
                                      <div id="chat_user">
                                        <ul class="chat-list list-unstyled m-b-0">
                                          <li class="clearfix active">
                                            <img src="assets/images/user/user1.jpg" alt="avatar">
                                            <div class="about">
                                              <div class="name">William Smith</div>
                                              <div class="status">
                                                <i class="material-icons offline">fiber_manual_record</i> left 7 mins ago 
                                              </div>
                                            </div>
                                          </li>
                                          <li class="clearfix">
                                            <img src="assets/images/user/user2.jpg" alt="avatar">
                                            <div class="about">
                                              <div class="name">Martha Williams</div>
                                              <div class="status">
                                                <i class="material-icons offline">fiber_manual_record</i> online
                                              </div>
                                            </div>
                                          </li>
                                          <li class="clearfix">
                                            <img src="assets/images/user/user3.jpg" alt="avatar">
                                            <div class="about">
                                              <div class="name">Joseph Clark</div>
                                                <div class="status">
                                                  <i class="material-icons online">fiber_manual_record</i> online
                                                </div>
                                              </div>
                                            </li>
                                            <li class="clearfix">
                                              <img src="assets/images/user/user4.jpg" alt="avatar">
                                              <div class="about">
                                                <div class="name">Nancy Taylor</div>
                                                <div class="status">
                                                  <i class="material-icons online">fiber_manual_record</i> online
                                                </div>
                                              </div>
                                            </li>
                                            <li class="clearfix">
                                              <img src="assets/images/user/user5.jpg" alt="avatar">
                                              <div class="about">
                                                <div class="name">Margaret Wilson</div>
                                                <div class="status">
                                                  <i class="material-icons online">fiber_manual_record</i> online
                                                </div>
                                              </div>
                                            </li>
                                            <li class="clearfix">
                                              <img src="assets/images/user/user6.jpg" alt="avatar">
                                              <div class="about">
                                                <div class="name">Joseph Jones</div>
                                                <div class="status">
                                                  <i class="material-icons offline">fiber_manual_record</i> left 30 mins ago
                                                </div>
                                              </div>
                                            </li>
                                            <li class="clearfix">
                                              <img src="assets/images/user/user7.jpg" alt="avatar">
                                              <div class="about">
                                                <div class="name">Jane Brown</div>
                                                <div class="status">
                                                  <i class="material-icons offline">fiber_manual_record</i> left 10 hours ago
                                                </div>
                                              </div>
                                            </li>
                                            <li class="clearfix">
                                              <img src="assets/images/user/user8.jpg" alt="avatar">
                                              <div class="about">
                                                <div class="name">Eliza Johnson</div>
                                                <div class="status">
                                                  <i class="material-icons online">fiber_manual_record</i> online
                                                </div>
                                              </div>
                                            </li>
                                            <li class="clearfix">
                                              <img src="assets/images/user/user3.jpg" alt="avatar">
                                              <div class="about">
                                                <div class="name">Mike Clark</div>
                                                <div class="status">
                                                  <i class="material-icons online">fiber_manual_record</i> online
                                                </div>
                                              </div>
                                            </li>
                                            <li class="clearfix">
                                              <img src="assets/images/user/user4.jpg" alt="avatar">
                                              <div class="about">
                                                <div class="name">Ann Henry</div>
                                                <div class="status">
                                                  <i class="material-icons online">fiber_manual_record</i> online
                                                </div>
                                              </div>
                                            </li>
                                            <li class="clearfix">
                                              <img src="assets/images/user/user5.jpg" alt="avatar">
                                              <div class="about">
                                                <div class="name">Nancy Smith</div>
                                                <div class="status">
                                                  <i class="material-icons online">fiber_manual_record</i> online
                                                </div>
                                              </div>
                                            </li>
                                            <li class="clearfix">
                                              <img src="assets/images/user/user9.jpg" alt="avatar">
                                              <div class="about">
                                                <div class="name">David Wilson</div>
                                                <div class="status">
                                                  <i class="material-icons offline">fiber_manual_record</i> offline since Oct 28
                                                </div>
                                              </div>
                                            </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- <scrollbar-y scrollable="true" fit="false" class="scrollbar-control ng-star-inserted">
                                    <div scrollbartracky="" class="ng-scrollbar-track">
                                      <div scrollbarthumby="" class="ng-scrollbar-thumb" style="height: 431px; transform: translate3d(0px, 0px, 0px);"></div>
                                    </div>
                                  </scrollbar-y> -->
                                </div>
                              </div>
                            <!-- </ng-scrollbar> -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                      <div class="card">
                        <div class="chat">
                          <div class="chat-header clearfix">
                            <img src="assets/images/user/user2.jpg" alt="avatar">
                            <div class="chat-about">
                              <div class="chat-with">Maria Smith</div>
                              <div class="chat-num-messages">2 new messages</div>
                            </div>
                          </div>
                          <!-- <ng-scrollbar visibility="hover" style="height: 450px;" class="ng-scrollbar"> -->
                            <div class="ng-scrollbar-wrapper" position="native" track="vertical" appearance="compact" visibility="hover" deactivated="false" dir="ltr" pointereventsmethod="viewport" verticalused="true" horizontalused="false" isverticallyscrollable="true" ishorizontallyscrollable="false" verticalhovered="false">
                              <div class="ng-scroll-viewport-wrapper">
                                <div scrollviewport="" hidenativescrollbar="" class=" ng-native-scrollbar-hider ng-scroll-viewport " style="--native-scrollbar-size: -0px;">
                                  <div class="ng-scroll-content">
                                    <div id="chat-conversation" class="chat-history">
                                      <ul>
                                        <li class="clearfix">
                                          <div class="message-data text-end">
                                            <span class="message-data-time">10:10 AM, Today </span> &nbsp; &nbsp;
                                            <span class="message-data-name">Maria</span>
                                          </div>
                                          <div class="message other-message float-end"> Hi Robert , how are you? How is your work going on? </div>
                                        </li>
                                        <li><div class="message-data">
                                          <span class="message-data-name">Robert </span>
                                          <span class="message-data-time">10:12 AM, Today</span>
                                        </div>
                                        <div class="message my-message">
                                          <p>Its good. We completed almost all task assign by our manager.</p>
                                          <div class="row"></div>
                                        </div>
                                      </li>
                                      <li>
                                        <div class="message-data">
                                          <span class="message-data-name">Robert </span>
                                          <span class="message-data-time">10:12 AM, Today</span>
                                        </div>
                                        <div class="message my-message">
                                          <p>How are you feel today? What's about vacation?.</p>
                                          <div class="row"></div>
                                        </div>
                                      </li>
                                      <li class="clearfix">
                                        <div class="message-data text-end">
                                          <span class="message-data-time">10:10 AM, Today </span> &nbsp; &nbsp;
                                          <span class="message-data-name">Maria</span>
                                        </div>
                                        <div class="message other-message float-end"> I am good, We think for next weekend. </div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- <scrollbar-y scrollable="true" fit="false" class="scrollbar-control ng-star-inserted">
                              <div scrollbartracky="" class="ng-scrollbar-track">
                                <div scrollbarthumby="" class="ng-scrollbar-thumb" style="height: 352px; transform: translate3d(0px, 0px, 0px);"></div>
                              </div>
                            </scrollbar-y> -->
                            </div>
                          <!-- </ng-scrollbar> -->
                        </div>
                        <div class="chat-message clearfix">
                          <div class="form-group">
                            <div class="form-line">
                              <!-- <mat-form-field appearance="outline" class="mat-mdc-form-field example-full-width ng-tns-c1798928316-43 mat-mdc-form-field-type-mat-input mat-form-field-appearance-outline mat-primary ng-star-inserted">
                                <div class="mat-mdc-text-field-wrapper mdc-text-field ng-tns-c1798928316-43 mdc-text-field--outlined mdc-text-field--no-label">
                                  <div class="mat-mdc-form-field-flex ng-tns-c1798928316-43">
                                    <div matformfieldnotchedoutline="" class="mdc-notched-outline ng-tns-c1798928316-43 mdc-notched-outline--no-label ng-star-inserted"><div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch"></div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                  </div>
                                  <div class="mat-mdc-form-field-infix ng-tns-c1798928316-43">
                                    <input matinput="" placeholder="Enter text here.." required="" class="mat-mdc-input-element ng-tns-c1798928316-43 mat-mdc-form-field-input-control mdc-text-field__input cdk-text-field-autofill-monitored" id="mat-input-16" aria-required="true"></div>
                                  </div>
                                  <div class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align ng-tns-c1798928316-43">
                                    <div class="mat-mdc-form-field-hint-wrapper ng-tns-c1798928316-43 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);">
                                      <div class="mat-mdc-form-field-hint-spacer ng-tns-c1798928316-43"></div>
                                    </div>
                                  </div>
                              </mat-form-field> -->
                            </div>
                            <!-- <divclass="chat-upload">
                              <button mat-mini-fab="" class="bg-deep-orange msr-2 mdc-fab mdc-fab--mini mat-mdc-mini-fab mat-accent mat-mdc-button-base" mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple">
                                <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple"></span>
                                <i class="material-icons">attach_file</i>
                                <span class="mdc-button__label"></span>
                                <span class="mat-mdc-focus-indicator"></span>
                                <span class="mat-mdc-button-touch-target"></span>
                              </button>
                              <button mat-mini-fab="" class="bg-deep-orange mdc-fab mdc-fab--mini mat-mdc-mini-fab mat-accent mat-mdc-button-base" mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple">
                                <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple"></span>
                                <i class="material-icons">insert_emoticon</i>
                                <span class="mdc-button__label"></span>
                                <span class="mat-mdc-focus-indicator"></span>
                                <span class="mat-mdc-button-touch-target"></span>
                              </button>
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
