<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content table-responsive table-full-width">
                        <button type="button" class="btn btn-success btn-fill btn-sm pull-right" tooltip="Add" routerLink="/admin/add-doctor"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                        <table id="doctor-list-tbl" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-no-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{{props.DOCTOR_DETAILS.DOCTOR_IMG}}</th>
                                    <th>{{props.DOCTOR_DETAILS.DOCTOR_NAME}}</th>
                                    <th>Dept.</th>
                                    <th>Available</th>
                                    <th>{{props.DOCTOR_DETAILS.DOCTOR_TIME}}</th>
                                    <th>{{props.DOCTOR_DETAILS.DOCTOR_EMAIL}}</th>
                                    <th>Phone No.</th>
                                    <th>Exp.</th>
                                    <th>{{props.DOCTOR_DETAILS.DOCTOR_STATUS}}</th>
                                    <th>{{props.DOCTOR_DETAILS.DOCTOR_ACTION}}</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="doctorsList">
                                <ng-container *ngFor="let doctors of doctorsList; index as i">
                                    <tr *ngIf="doctors.user.email">
                                        <td width="5%"><div class="table-img"><img src="{{doctors.image}}"/></div></td>
                                        <td>{{doctors.user.first_name}} {{doctors.user.last_name}}</td>
                                        <td>{{doctors.department.name}}</td>
                                        <td width="5%" class="text-break">{{doctors.available_status}}</td>
                                        <td width="14%" class="text-break">{{doctors.available_start_time}} to {{doctors.available_end_time}}</td>
                                        <td width="24%" class="text-break">{{doctors.user.email}}</td>
                                        <td width="8%">{{doctors.user.phone_no}}</td>
                                        <td>{{doctors.exp_years}}</td>
                                        <td width="3%">
                                          <span class="badge badge-solid-active" *ngIf="doctors.user.status == props.USER_DETAILS.USER_ACTIVE">{{doctors.user.status}}</span>
                                          <span class="badge badge-solid-inactive" *ngIf="doctors.user.status == props.USER_DETAILS.USER_INACTIVE">{{doctors.user.status}}</span>
                                        </td>
                                        <td width="3%" class="text-center">
                                          <span><button type="button" class="btn btn-warning btn-fill btn-sm pull-right" tooltip="Update"><i class="fa fa-pencil-square-o"></i></button></span>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
