<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content table-responsive table-full-width">
                        <button *ngIf="currentRole == 'Admin'" type="button" class="btn btn-success btn-fill btn-md pull-right" tooltip="Add" routerLink="/admin/add-patient"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                        <table id="patients-list-tbl" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-no-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{{props.USER_DETAILS.USER_NAME}}</th>
                                    <th>{{props.USER_DETAILS.GENDER}}</th>
                                    <th>{{props.USER_DETAILS.USER_EMAIL}}</th>
                                    <th>{{props.USER_DETAILS.USER_ADDRESS}}</th>
                                    <th>{{props.USER_DETAILS.USER_MOBILE}}</th>
                                    <th>Doctor</th>
                                    <th>{{props.USER_DETAILS.USER_BIRTH_DATE}}</th>
                                    <th>{{props.USER_DETAILS.USER_BLOOD_GROUP}}</th>
                                    <th>Injury</th>
                                    <th>{{props.USER_DETAILS.USER_STATUS}}</th>
                                    <th>{{props.USER_DETAILS.USER_ACTION}}</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="patientsList">
                                <ng-container *ngFor="let patients of patientsList; index as i">
                                    <tr>
                                        <td width="14%">{{patients.user.first_name}} {{patients.user.last_name}}</td>
                                        <td width="3%">
                                            <span class="badge badge-solid-green" *ngIf="patients.gender == props.USER_DETAILS.GENDER_MALE">{{patients.gender}}</span>
                                            <span class="badge badge-solid-purple" *ngIf="patients.gender == props.USER_DETAILS.GENDER_FEMALE">{{patients.gender}}</span>
                                        </td>
                                        <td width="18%" class="text-break">{{patients.user.email}}</td>
                                        <td width="13%" class="text-break">{{patients.address}}</td>
                                        <td width="8%">{{patients.user.phone_no}}</td>
                                        <td  width="12%" class="text-break"><a href="">Dr.{{patients.doctor.user.first_name}} {{patients.doctor.user.last_name}}</a></td>
                                        <td>{{patients.birth_date | date: 'dd/MM/yyyy'}}</td>
                                        <td>{{patients.blood_group}}</td>
                                        <td width="5%">{{patients.injury}}</td>
                                        <td width="4%">
                                            <span class="badge badge-solid-active" *ngIf="patients.user.status == props.USER_DETAILS.USER_ACTIVE">{{patients.user.status}}</span>
                                            <span class="badge badge-solid-inactive" *ngIf="patients.user.status == props.USER_DETAILS.USER_INACTIVE">{{patients.user.status}}</span>
                                        </td>
                                        <td width="8%">
                                            <span style="display: inline-flex;">
                                                <button *ngIf="currentRole == 'Admin'" type="button" class="btn btn-primary btn-fill btn-sm pull-right" tooltip="Prescriptions" [routerLink]="['/admin/prescriptions', patients.id]"><i class="fa fa-eye"></i></button>
                                                <button *ngIf="currentRole == 'Admin'" type="button" class="btn btn-warning btn-fill btn-sm pull-right" tooltip="Update" [state]="patients" routerLink="/admin/add-patient"><i class="fa fa-eye"></i></button>
                                                <button *ngIf="currentRole == 'Doctor'" type="button" class="btn btn-primary btn-fill btn-sm pull-right" tooltip="Prescriptions" [routerLink]="['/doctor/prescriptions', patients.id]"><i class="fa fa-pencil-square-o"></i></button>
                                            </span>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                            <tbody *ngIf="!patientsList">
                                <tr>
                                  <td colspan="11">No Record Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
