<div class="main-content" >
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="header">
                <h4 class="title">Staff Information</h4>
              </div>
              <div class="content">
                  <form id="add-user" [formGroup]="addStaffForm" autocomplete="off">
                    <div class="row justify-content-center">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label class="form-label fw-bold">{{props.USER_DETAILS.USER_FIRST_NAME}} <span class="text-danger">*</span></label>
                              <input type="text" class="form-control form-control-sm" placeholder="{{props.USER_DETAILS.USER_FIRST_NAME}}" formControlName="userFirstname" maxlength="150" [ngClass]="{ 'is-invalid': submitted && f.userFirstname.errors}">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label class="form-label fw-bold">{{props.USER_DETAILS.USER_LAST_NAME}} <span class="text-danger">*</span></label>
                              <input type="text" class="form-control form-control-sm" placeholder="{{props.USER_DETAILS.USER_LAST_NAME}}" formControlName="userLastname" maxlength="150" [ngClass]="{ 'is-invalid': submitted && f.userLastname.errors}">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="form-label fw-bold">{{props.USER_DETAILS.GENDER}} <span class="text-danger">*</span></label>
                            <select class="form-control form-select" formControlName="userGender" [ngClass]="{ 'is-invalid': submitted && f.userGender.errors}">
                              <option value="" disabled>Choose a Gender</option>
                              <option value="{{props.USER_DETAILS.GENDER_MALE}}">{{props.USER_DETAILS.GENDER_MALE}}</option>
                              <option value="{{props.USER_DETAILS.GENDER_FEMALE}}">{{props.USER_DETAILS.GENDER_FEMALE}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label class="form-label fw-bold">{{props.USER_DETAILS.USER_MOBILE}} <span class="text-danger">*</span></label>
                              <input type="text" class="form-control form-control-sm" placeholder="{{props.USER_DETAILS.USER_MOBILE}}" formControlName="userMobile" maxlength="10" [ngClass]="{ 'is-invalid': submitted && f.userMobile.errors}">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label class="form-label fw-bold">{{props.DOCTOR_DETAILS.DOCTOR_PASS}} <span class="text-danger">*</span></label>
                              <input type="password" class="form-control form-control-sm" placeholder="{{props.DOCTOR_DETAILS.DOCTOR_PASS}}" formControlName="userPassword" maxlength="15" [ngClass]="{ 'is-invalid': submitted && f.userPassword.errors}">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label class="form-label fw-bold">{{props.DOCTOR_DETAILS.DOCTOR_REPASS}} <span class="text-danger">*</span></label>
                              <input type="password" class="form-control form-control-sm" placeholder="{{props.DOCTOR_DETAILS.DOCTOR_REPASS}}" formControlName="userReenterPassword" maxlength="15" [ngClass]="{ 'is-invalid': submitted && f.userReenterPassword.errors}">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label class="form-label fw-bold">{{props.DOCTOR_DETAILS.DOCTOR_DESIGNATION}} </label>
                              <select class="form-control form-select" formControlName="userDesignation" [ngClass]="{ 'is-invalid': submitted && f.userDesignation.errors}">
                                <option value="" disabled>Choose an {{props.DOCTOR_DETAILS.DOCTOR_DESIGNATION}}</option>
                                <option value="Admin">Admin</option>
                                <option value="Nurse">Nurse</option>
                                <option value="Lab Assistent">Lab Assistent</option>
                                <option value="Supervisor">Supervisor</option>
                                <option value="Receptionist">Receptionist</option>
                              </select>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label class="form-label fw-bold">{{props.DOCTOR_DETAILS.DOCTOR_SERVICE}} <span class="text-danger">*</span></label>
                              <select class="form-control form-select form-control-sm" formControlName="userDepartment" [ngClass]="{ 'is-invalid': submitted && f.userDepartment.errors}">
                                  <option value="" disabled>Choose a {{props.DOCTOR_DETAILS.DOCTOR_SERVICE}}</option>
                                  <option *ngFor="let service of services" [value]="service.id">{{service.name}}</option>
                              </select>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label class="form-label fw-bold">{{props.DOCTOR_DETAILS.DOCTOR_AVAILABILITITY_STATUS}} <span class="text-danger">*</span></label>
                              <select class="form-control form-select" formControlName="userAvailablitityStatus" [ngClass]="{ 'is-invalid': submitted && f.userAvailablitityStatus.errors}">
                                <option value="" disabled>Choose an Availability</option>
                                <option value="{{props.DOCTOR_DETAILS.DOCTOR_AVAILABLE}}">{{props.DOCTOR_DETAILS.DOCTOR_AVAILABLE}}</option>
                                <option value="{{props.DOCTOR_DETAILS.DOCTOR_ABSEND}}">{{props.DOCTOR_DETAILS.DOCTOR_ABSEND}}</option>
                              </select>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="form-label fw-bold">{{props.DOCTOR_DETAILS.DOCTOR_AVAILABILITITY_TIME}} <span class="text-danger">*</span></label>
                            <div class="time-pickers" style="display: inline-flex">
                              <timepicker [showMeridian]="false" required formControlName="userAvailableStartTime"></timepicker>
                              <span style="margin: auto; margin-left: 8px; margin-right: 8px;"> --and-- </span>
                              <timepicker [showMeridian]="false" required formControlName="userAvailableEndTime"></timepicker>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group">
                              <label class="form-label fw-bold">{{props.USER_DETAILS.USER_ADDRESS}} </label>
                              <textarea rows="6" style="height: 90px;" class="form-control" formControlName="userAddress" placeholder="{{props.USER_DETAILS.USER_ADDRESS}}" maxlength="500"></textarea>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label class="form-label fw-bold">{{props.DOCTOR_DETAILS.DOCTOR_EMAIL}} <span class="text-danger">*</span></label>
                              <input type="text" class="form-control form-control-sm" placeholder="{{props.DOCTOR_DETAILS.DOCTOR_EMAIL}}" formControlName="userEmail" maxlength="50" [ngClass]="{ 'is-invalid': submitted && f.userEmail.errors}">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label class="form-label fw-bold">{{props.DOCTOR_DETAILS.DOCTOR_BIRTH}} <span class="text-danger">*</span></label>
                              <div id="datepicker">
                                  <input type="text"
                                      class="form-control form-control-sm"
                                      placeholder="DD-MM-YYYY"
                                      bsDatepicker
                                      [bsConfig]="dateConfig"
                                      formControlName="userBirthDate"
                                      placement="top"
                                      [ngClass]="{ 'is-invalid': submitted && f.userBirthDate.errors}">
                              </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label class="form-label fw-bold">{{props.DOCTOR_DETAILS.DOCTOR_EDUCATION}} <span class="text-danger">*</span></label>
                              <input type="text" class="form-control form-control-sm" placeholder="{{props.DOCTOR_DETAILS.DOCTOR_EDUCATION}}" formControlName="userEducation" maxlength="100" [ngClass]="{ 'is-invalid': submitted && f.userEducation.errors}">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label class="form-label fw-bold">{{props.DOCTOR_DETAILS.DOCTOR_EXP}} <span class="text-danger">*</span></label>
                              <input type="text" class="form-control form-control-sm" placeholder="{{props.DOCTOR_DETAILS.DOCTOR_EXP}}" formControlName="userExpYears" maxlength="2" [ngClass]="{ 'is-invalid': submitted && f.userExpYears.errors}">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="form-label fw-bold">{{props.DOCTOR_DETAILS.DOCTOR_STATUS}} <span class="text-danger">*</span></label>
                            <div>
                                <input type="radio" class="form-check-input" formControlName="userStatus" value="{{props.DOCTOR_DETAILS.DOCTOR_ACTIVE}}" style="margin-right: 5px;" [ngClass]="{ 'is-invalid': submitted && f.userStatus.errors}">
                                <label class="form-label fw-bold">  {{props.DOCTOR_DETAILS.DOCTOR_ACTIVE}}</label>
                                
                                <input type="radio" class="form-check-input" formControlName="userStatus" value="{{props.DOCTOR_DETAILS.DOCTOR_INACTIVE}}" [ngClass]="{ 'is-invalid': submitted && f.userStatus.errors}">
                                <label class="form-label fw-bold">  {{props.DOCTOR_DETAILS.DOCTOR_INACTIVE}}</label>                                    
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="row justify-content-end">
                        <div class="form-group">
                          <button type="button" class="btn btn-default pull-right" routerLink="/admin/all-staff" style="margin-left: 15px;">{{props.BTN_SEARCH.CANCEL}}</button>
                          <button type="submit" class="btn btn-primary btn-fill pull-right" *ngIf="editStaffId" [disabled]="!this.addStaffForm.valid" (click)="addUser()">{{props.USER_DETAILS.STAFF_UPDATE_BTN}}</button>
                          <button type="submit" class="btn btn-primary btn-fill pull-right" *ngIf="!editStaffId" [disabled]="!this.addStaffForm.valid" (click)="addUser()">{{props.USER_DETAILS.STAFF_ADD_BTN}}</button>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </form>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
