<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content table-responsive table-full-width">
                        <button *ngIf="currentRole == 'Admin'" type="button" class="btn btn-success btn-fill btn-sm pull-right" tooltip="Add" routerLink="/admin/book-appointment"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                        <button *ngIf="currentRole == 'Patient'" type="button" class="btn btn-success btn-fill btn-sm pull-right" tooltip="Add" routerLink="/patient/book-appointment"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                        <table id="doctor-list-tbl" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-no-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{{props.BOOKED_APPOINTMENT_DETAILS.PATIENT_NAME}}</th>
                                    <th>{{props.BOOKED_APPOINTMENT_DETAILS.GENDER}}</th>
                                    <th>{{props.BOOKED_APPOINTMENT_DETAILS.PATIENT_EMAIL}}</th>
                                    <th>{{props.BOOKED_APPOINTMENT_DETAILS.DATETIME}}</th>
                                    <th>{{props.BOOKED_APPOINTMENT_DETAILS.PATIENT_PHONE}}</th>
                                    <th>Doctor</th>
                                    <th>{{props.BOOKED_APPOINTMENT_DETAILS.DISEASES}}</th>
                                    <th>{{props.BOOKED_APPOINTMENT_DETAILS.STATUS}}</th>
                                    <th *ngIf="currentRole == 'Admin'">{{props.BTN_SEARCH.ACTION}}</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="bookedAppointmentsLists">
                                <ng-container *ngFor="let bookedappointment of bookedAppointmentsLists; index as i">
                                    <tr *ngIf="bookedappointment.email">
                                        <td>{{bookedappointment.firstName}} {{bookedappointment.lastName}}</td>
                                        <td width="5%">
                                            <span class="badge badge-solid-green" *ngIf="bookedappointment.gender == props.USER_DETAILS.GENDER_MALE">{{bookedappointment.gender}}</span>
                                            <span class="badge badge-solid-purple" *ngIf="bookedappointment.gender == props.USER_DETAILS.GENDER_FEMALE">{{bookedappointment.gender}}</span>
                                        </td>
                                        <td>{{bookedappointment.email}}</td>
                                        <td>{{bookedappointment.appointmentDate | date: 'dd/MM/yyyy'}}, {{bookedappointment.appointmentTime}}</td>
                                        <td width="10%">{{bookedappointment.mobile}}</td>
                                        <td><a href="">Dr.{{bookedappointment.doctor.user.first_name}} {{bookedappointment.doctor.user.last_name}}</a></td>
                                        <td width="7%">{{bookedappointment.injury}}</td>
                                        <td width="7%">
                                            <span class="badge badge-solid-purple" *ngIf="currentRole != 'Patient' && bookedappointment.appointmentStatus == props.USER_DETAILS.PENDING">{{bookedappointment.appointmentStatus}}</span>
                                            <span class="badge badge-solid-blue" *ngIf="bookedappointment.appointmentStatus == props.USER_DETAILS.VISITED">{{bookedappointment.appointmentStatus}}</span>
                                            <span class="badge badge-solid-red" *ngIf="bookedappointment.appointmentStatus == props.USER_DETAILS.NOT_VISITED">{{bookedappointment.appointmentStatus}}</span>
                                            <button class=" btn btn-sm btn-square" tooltip="Mark as Visited" *ngIf="currentRole != 'Patient' && bookedappointment.appointmentStatus == props.USER_DETAILS.PENDING" (click)="changeStatus($event, bookedappointment.id)">{{bookedappointment.appointmentStatus}}</button>
                                        </td>
                                        <td width="12%" *ngIf="currentRole == 'Admin'">
                                            <span>
                                                <button type="button" class="btn btn-warning btn-fill btn-sm pull-right"  tooltip="Update" [state]="bookedappointment" routerLink="/admin/book-appointment"><i class="fa fa-pencil-square-o"></i></button>
                                            </span>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                            <tbody *ngIf="!bookedAppointmentsLists">
                              <tr *ngIf="currentRole == 'Admin'">
                                <td colspan="9">No Record Found</td>
                              </tr>
                              <tr *ngIf="currentRole != 'Admin'">
                                <td colspan="8">No Record Found</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
