
<div class="sidebar-wrapper">
    <div class="logo">
        <a routerLink="/" class="simple-text">
            <div class="logo-img">
                <img src="assets/img/favicon.ico" class="logo" style="width: 20%;">
            </div>
            <span style="font-size: medium; font-weight: 600;">{{props.APP_Name}}</span>
        </a>
    </div>
    <ul class="nav responsive-nav">
        <li *ngIf="isMobileMenu()">
            <a (click)="logout()">
                <p>{{props.MENUS.LOGOUT}}</p>
            </a>
        </li>
        <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a  [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
