.home-subcard {
    border: none !important;
    position: relative;
}
.home-subcard2 {
    border: none !important;
    position: relative;
}
.m-r-10 {
    margin-right: 10px;
    margin-left: 10px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    margin: 15px 15px 15px 0;
}

.home-card h5 {
    font: 400 11.62px/20px Roboto,sans-serif;
    margin: 0 0 12px;
    font-size: 1.25rem!important;
    font-weight: 500!important;
}

.home-card h3 {
    line-height: 28px;
    font-family: Roboto,sans-serif;
    letter-spacing: .009375em;
    margin: 0 0 16px;
}

.card-img-absolute {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.home-card .col-sm-3 {
    padding-right: 15px;
    padding-left: 15px;
}

.home-card .fa {
    display: inline !important;
}
.card {
    border-radius: 10px;
    box-shadow: 0 0 10px #b7c0ce33;
    -webkit-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
}

#bookingChart {
    margin-top: 5px;
    width:100% !important;
    height:280px !important;
    overflow:hidden;
}
.booking-chart div {
    min-height: 305px !important;
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
    .booking-chart div {
        min-height: 370px !important;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1251px) {
    .booking-chart div {
        min-height: 400px !important;
    }
    #bookingChart {
        margin-top: 5px;
        width:100% !important;
        height:350px !important;
        overflow:hidden;
    }
}